<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>Wishlist</title>
  </head>
  <body> 
    <header>
      <div class="container">
        <div class="header"><a class="logo" href="./index.html">
            <h1>zaytun</h1></a>
          <div class="language"><a class="ru">Рус</a><a class="uz">O'zb</a></div>
          <div class="search">
            <input type="text" placeholder="Что вас интересует?">
            <input type="submit" value="Найти">
          </div>
          <div class="heart-cart-profile"><a class="heart" href="../product-page.html"><i class="fa-regular fa-heart"></i>
              <div class="desc"><span class="name">Избранное</span><span class="type">2 товара</span></div></a><a class="cart" href="./product-page.html"><i class="fa-solid fa-cart-shopping"></i>
              <div class="desc"><span class="name">Корзина</span><span class="type">12 товара</span></div></a><a class="profile" href="order.html"><i class="fa-regular fa-user"></i>
              <div class="desc"><span class="name">Антон Павлов</span><span class="type">Мой профиль</span></div></a></div>
        </div>
        <!-- НАВИГАЦИЯ НАЧАЛО-->
        <nav class="navbar">
          <div class="catalog"><i class="fa-solid fa-bars"></i><span>Каталог товаров</span></div>
          <ol class="nav">
            <li class="nav-item"><a class="nav-link" href="#">Продукты</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Одежда и обувь</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Электроника и офис</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Для дома</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Спорт</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Детские товары</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Красота</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Бытовая техника</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Здоровье</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Канцелярия</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Захоронение</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Ремонт</a></li>
          </ol>
        </nav>
      </div>
    </header>
    <main class="container">
      <h1>Избранное</h1>
      <hr>
      <div class="wishlist_cart"> 
        <div class="img"> <img src="/assets/images/headphone.png" alt=""></div>
        <div class="sale"> 
          <p>- 6%</p>
        </div>
        <div class="info"> 
          <ul> 
            <li>Sony WH-1000XM3 беспроводные наушники</li>
            <li> <img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star.svg" alt="star"></li>
            <li> 
              <p>Платформа:</p><span>Android 10</span>
            </li>
            <li> 
              <p>Кол-во SIM карт:</p><span>2 SIM + SD Card</span>
            </li>
            <li> 
              <p>Диагональ экрана:</p><span>6.5”</span>
            </li>
            <li> 
              <p>Камера:</p><span>48МП+8МП+5МП+5МП</span>
            </li>
            <li> 
              <p>Аккумулятор</p><span>4 000 mAh</span>
            </li>
            <li> 
              <p>Тип матрицы:</p><span>SUPER AMOLED</span>
            </li>
            <li> 
              <p>Габариты:</p><span>ШхВхТ 142х79.0х13.5 мм, вес 140 г</span>
            </li>
          </ul>
          <div class="bottom_menu"> 
            <ol> 
              <li> <img src="/assets/images/icons/heart.svg" alt="heart">
                <p>Убрать из избранного</p>
              </li>
              <li class="yellow"> <img src="/assets/images/icons/signal.svg" alt="signal">
                <p>Сравнить</p>
              </li>
              <li class="yellow"><img src="/assets/images/icons/arrows.svg" alt="">
                <p>Поделиться</p>
              </li>
            </ol>
          </div>
        </div>
        <div class="add_to_basket"><span class="outer"> <span class="inner">2 720 000</span></span>
          <div class="amount"> 
            <p>3 020 000</p><span>сум</span>
          </div>
          <h2>Сезонная скидка</h2>
          <div class="checkbox">
            <div class="box"></div>
            <div class="border"> 
              <div class="color"></div>
            </div>
          </div>
          <button class="btn_wishlist">Добавить в корзину</button>
        </div>
      </div>
      <hr>
      <div class="wishlist_cart"> 
        <div class="img2"> <img src="/assets/images/iphone.png" alt=""></div>
        <div class="sale"> 
          <p>- 6%</p>
        </div>
        <div class="info"> 
          <ul> 
            <li>Apple iPhone 11 8/128 GB, черный</li>
            <li> <img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star.svg" alt="star"></li>
            <li> 
              <p>Платформа:</p><span>iOS 13</span>
            </li>
            <li> 
              <p>Кол-во SIM карт:</p><span>2 SIM + SD Card</span>
            </li>
            <li> 
              <p>Диагональ экрана:</p><span>6.5”</span>
            </li>
            <li> 
              <p>Камера:</p><span>48МП+8МП+5МП+5МП</span>
            </li>
            <li> 
              <p>Аккумулятор</p><span>4 000 mAh</span>
            </li>
            <li> 
              <p>Тип матрицы:</p><span>SUPER AMOLED</span>
            </li>
            <li> 
              <p>Габариты:</p><span>ШхВхТ 142х79.0х13.5 мм, вес 140 г</span>
            </li>
          </ul>
          <div class="bottom_menu"> 
            <ol> 
              <li> <img src="/assets/images/icons/heart.svg" alt="heart">
                <p>Убрать из избранного</p>
              </li>
              <li class="yellow"> <img src="/assets/images/icons/signal.svg" alt="signal">
                <p>Сравнить</p>
              </li>
              <li class="yellow"><img src="/assets/images/icons/arrows.svg" alt="">
                <p>Поделиться</p>
              </li>
            </ol>
          </div>
        </div>
        <div class="add_to_basket"><span class="outer"> <span class="inner">2 720 000</span></span>
          <div class="amount"> 
            <p>8 249 000</p><span>сум</span>
          </div>
          <h2>Сезонная скидка</h2>
          <div class="capacity"> 
            <p>6/128GB</p>
            <p>8/256GB</p>
          </div>
          <div class="checkbox">
            <div class="red_box"></div>
            <div class="box"></div>
            <div class="border"> 
              <div class="color"></div>
            </div>
          </div>
          <button class="btn_wishlist">Добавить в корзину</button>
        </div>
      </div>
      <hr>
      <div class="recommended">
        <h3>Рекомендуем к покупке</h3>
        <div class="title"> 
          <h4>Товары из категории <span>Электроника</span></h4><span>Посмотреть все</span>
        </div>
      </div>
      <div class="product_info_list">
        <div class="products_info"> 
          <div class="favourite"><img src="/assets/images/icons/favorite.svg" alt=""></div>
          <div class="img_details"> <img src="/assets/images/phone.png" alt="phone"></div>
          <div class="sum"> 
            <p>8 460 000<span>сум</span></p>
          </div>
          <p> Huawei P40 Pro Plus 8/240GB, White</p>
          <div class="stars"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star.svg" alt="star"></div>
        </div>
        <div class="products_info"> 
          <div class="favourite"><img src="/assets/images/icons/favorite_yellow.svg" alt=""></div>
          <div class="img_details"> <img src="/assets/images/headphone-mini.png" alt="phone"></div>
          <div class="sum"> 
            <p>2 720 000<span>сум</span></p>
          </div>
          <p class="sale_text"> Sony WH-1000XM3 беспроводные наушники</p>
          <div class="stars"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star.svg" alt="star"></div>
        </div>
        <div class="products_info">
          <div class="favourite"><img src="/assets/images/icons/favorite.svg" alt=""></div>
          <div class="img_details"> <img src="/assets/images/conditioner.png" alt="phone"></div>
          <div class="sum"> 
            <p>3 199 200<span>сум</span></p>
          </div>
          <p> Настенная сплит система Chigo HI912XA</p>
          <div class="stars"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star.svg" alt="star"></div>
        </div>
        <div class="products_info">
          <div class="favourite"><img src="/assets/images/icons/favorite.svg" alt=""></div>
          <div class="img_details"> <img src="/assets/images/areston.png" alt="phone"></div>
          <div class="sum"> 
            <p>12 118 000<span>сум</span></p>
          </div>
          <p> Bosch B29S накопительный водонагреватель</p>
          <div class="stars"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star.svg" alt="star"></div>
        </div>
        <div class="products_info">
          <div class="favourite"><img src="/assets/images/icons/favorite.svg" alt=""></div>
          <div class="img_details"> <img src="/assets/images/tv.png" alt="phone"></div>
          <div class="sum"> 
            <p>3 489 000<span>сум</span></p>
          </div>
          <p> Xiaomi MI TV 32” HD Smart TV</p>
          <div class="stars"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star.svg" alt="star"></div>
        </div>
        <div class="products_info"> 
          <div class="favourite"><img src="/assets/images/icons/favorite.svg" alt=""></div>
          <div class="img_details"> <img src="/assets/images/airpods.png" alt="phone"></div>
          <div class="sum"> 
            <p>1 455 000<span>сум</span></p>
          </div>
          <p> Apple Airpods 2 wireless charge</p>
          <div class="stars"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star 1.svg" alt="star"><img src="/assets/images/icons/star.svg" alt="star"></div>
        </div>
      </div>
      <div class="mobile_apps"> 
        <div class="text">
          <h5>Еще удобнее, в мобильном приложении</h5>
          <div class="app_store"> <img src="/assets/images/appstore.png" alt="appstore"><img src="/assets/images/google_play.png" alt="googleplay"></div>
        </div>
        <div class="img_phones"> <img src="/assets/images/phones.png" alt=""></div>
        <div class="qr_code"><img src="/assets/images/qr_code.png" alt=""></div>
      </div>
    </main>
  </body>
</html>