header
    .container
        .header
            a(href="./index.html").logo
                h1 zaytun
            .language
                a.ru Рус
                a.uz O'zb
            .search
                input(type='text' placeholder='Что вас интересует?')
                input(type='submit' value='Найти')
            .heart-cart-profile
                a(href="../product-page.html").heart
                    i.fa-regular.fa-heart
                    .desc
                        span.name Избранное
                        span.type 2 товара
                a(href="./product-page.html").cart
                    i.fa-solid.fa-cart-shopping
                    .desc
                        span.name Корзина
                        span.type 12 товара
                a(href="order.html").profile
                    i.fa-regular.fa-user
                    .desc
                        span.name Антон Павлов
                        span.type Мой профиль
        // НАВИГАЦИЯ НАЧАЛО
        nav.navbar
            .catalog
                i.fa-solid.fa-bars
                span Каталог товаров
            ol.nav
                li.nav-item
                    a.nav-link(href='#') Продукты
                li.nav-item
                    a.nav-link(href='#') Одежда и обувь
                li.nav-item
                    a.nav-link(href='#') Электроника и офис
                li.nav-item
                    a.nav-link(href='#') Для дома
                li.nav-item
                    a.nav-link(href='#') Спорт
                li.nav-item
                    a.nav-link(href='#') Детские товары
                li.nav-item
                    a.nav-link(href='#') Красота
                li.nav-item
                    a.nav-link(href='#') Бытовая техника
                li.nav-item
                    a.nav-link(href='#') Здоровье
                li.nav-item
                    a.nav-link(href='#') Канцелярия
                li.nav-item
                    a.nav-link(href='#') Захоронение
                li.nav-item
                    a.nav-link(href='#') Ремонт
