section.hero  
        .container 
            section(aria-label="Splide Basic HTML Example").splide
                .splide__track 
                    ul.splide__list 
                        li.splide__slide 
                            .splide__slide-left
                                p.solide__slide-left-top-desc Ощутите превосходство телевизоров
                                h2.solide__slide-left-heading1 Samsung
                                h1.solide__slide-left-heading2 QLED 8K
                            .splide__slide-right
                                img(src="../assets/images/image/lamp.png", alt="lamp").zaytun-hero-lamp-img1
                                img(src="../assets/images/image/lamp.png", alt="lamp").zaytun-hero-lamp-img2
                                img(src="../assets/images/image/zaytun-hero-slider-img.png", alt="rasm").splide__slide-right-img

                        li.splide__slide 
                            .splide__slide-left
                                p.solide__slide-left-top-desc Ощутите превосходство телевизоров
                                h2.solide__slide-left-heading1 Samsung
                                h1.solide__slide-left-heading2 QLED 8K
                            .splide__slide-right
                                img(src="../assets/images/image/lamp.png", alt="lamp").zaytun-hero-lamp-img1
                                img(src="../assets/images/image/lamp.png", alt="lamp").zaytun-hero-lamp-img2
                                img(src="../assets/images/image/zaytun-hero-slider-img.png", alt="rasm").splide__slide-right-img

                        li.splide__slide 
                            .splide__slide-left
                                p.solide__slide-left-top-desc Ощутите превосходство телевизоров
                                h2.solide__slide-left-heading1 Samsung
                                h1.solide__slide-left-heading2 QLED 8K
                            .splide__slide-right
                                img(src="../assets/images/image/lamp.png", alt="lamp").zaytun-hero-lamp-img1
                                img(src="../assets/images/image/lamp.png", alt="lamp").zaytun-hero-lamp-img2
                                img(src="../assets/images/image/zaytun-hero-slider-img.png", alt="rasm").splide__slide-right-img