
<section class="hero"> 
  <div class="container"> 
    <section class="splide" aria-label="Splide Basic HTML Example">
      <div class="splide__track"> 
        <ul class="splide__list"> 
          <li class="splide__slide"> 
            <div class="splide__slide-left">
              <p class="solide__slide-left-top-desc">Ощутите превосходство телевизоров</p>
              <h2 class="solide__slide-left-heading1">Samsung</h2>
              <h1 class="solide__slide-left-heading2">QLED 8K</h1>
            </div>
            <div class="splide__slide-right"><img class="zaytun-hero-lamp-img1" src="../assets/images/image/lamp.png" alt="lamp"/><img class="zaytun-hero-lamp-img2" src="../assets/images/image/lamp.png" alt="lamp"/><img class="splide__slide-right-img" src="../assets/images/image/zaytun-hero-slider-img.png" alt="rasm"/></div>
          </li>
          <li class="splide__slide"> 
            <div class="splide__slide-left">
              <p class="solide__slide-left-top-desc">Ощутите превосходство телевизоров</p>
              <h2 class="solide__slide-left-heading1">Samsung</h2>
              <h1 class="solide__slide-left-heading2">QLED 8K</h1>
            </div>
            <div class="splide__slide-right"><img class="zaytun-hero-lamp-img1" src="../assets/images/image/lamp.png" alt="lamp"/><img class="zaytun-hero-lamp-img2" src="../assets/images/image/lamp.png" alt="lamp"/><img class="splide__slide-right-img" src="../assets/images/image/zaytun-hero-slider-img.png" alt="rasm"/></div>
          </li>
          <li class="splide__slide"> 
            <div class="splide__slide-left">
              <p class="solide__slide-left-top-desc">Ощутите превосходство телевизоров</p>
              <h2 class="solide__slide-left-heading1">Samsung</h2>
              <h1 class="solide__slide-left-heading2">QLED 8K</h1>
            </div>
            <div class="splide__slide-right"><img class="zaytun-hero-lamp-img1" src="../assets/images/image/lamp.png" alt="lamp"/><img class="zaytun-hero-lamp-img2" src="../assets/images/image/lamp.png" alt="lamp"/><img class="splide__slide-right-img" src="../assets/images/image/zaytun-hero-slider-img.png" alt="rasm"/></div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</section>