doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/assets/css/main.css")
        title Wishlist-empty
    body 
        include ./header.pug
        main.container 
            h1 Избранное
            .adding_goods 
                img(src="/assets/images/icons/heart_wishlist.svg", alt="heart")
                p В избранном еще нет товаров
                span Добавляйте товары в избранное, чтобы не потерять
                button(class='btn_wishlist') Добавить товары
            .recommended_wishlist
                h3 Рекомендуем к покупке
                .title 
                    h4 Товары из категории 
                        span Электроника
                    span Посмотреть все
            .product_info_list
                .products_info 
                    .favourite
                        img(src="/assets/images/icons/favorite.svg", alt="")
                    .img_details 
                        img(src="/assets/images/phone.png", alt="phone")
                    .sum  
                        p 8 460 000
                            span сум
                    p  Huawei P40 Pro Plus 8/240GB, White
                    .stars
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star.svg", alt="star")
                .products_info 
                    .favourite
                        img(src="/assets/images/icons/favorite_yellow.svg", alt="")
                    .img_details 
                        img(src="/assets/images/headphone-mini.png", alt="phone")
                    .sum  
                        p 2 720 000
                            span сум
                    p.sale_text  Sony WH-1000XM3 беспроводные наушники
                    .stars
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star.svg", alt="star")
                .products_info
                    .favourite
                        img(src="/assets/images/icons/favorite.svg", alt="") 
                    .img_details 
                        img(src="/assets/images/conditioner.png", alt="phone")
                    .sum  
                        p 3 199 200
                            span сум
                    p  Настенная сплит система Chigo HI912XA
                    .stars
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star.svg", alt="star")
                .products_info
                    .favourite
                        img(src="/assets/images/icons/favorite.svg", alt="") 
                    .img_details 
                        img(src="/assets/images/areston.png", alt="phone")
                    .sum  
                        p 12 118 000
                            span сум
                    p  Bosch B29S накопительный водонагреватель
                    .stars
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star.svg", alt="star")
                .products_info
                    .favourite
                        img(src="/assets/images/icons/favorite.svg", alt="") 
                    .img_details 
                        img(src="/assets/images/tv.png", alt="phone")
                    .sum  
                        p 3 489 000
                            span сум
                    p  Xiaomi MI TV 32” HD Smart TV
                    .stars
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star.svg", alt="star")
                .products_info 
                    .favourite
                        img(src="/assets/images/icons/favorite.svg", alt="")
                    .img_details 
                        img(src="/assets/images/airpods.png", alt="phone")
                    .sum  
                        p 1 455 000
                            span сум
                    p  Apple Airpods 2 wireless charge
                    .stars
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star.svg", alt="star")
            .mobile_apps 
                .text
                    h5 Еще удобнее, в мобильном приложении
                    .app_store 
                        img(src="/assets/images/appstore.png", alt="appstore")
                        img(src="/assets/images/google_play.png", alt="googleplay")
                .img_phones 
                    img(src="/assets/images/phones.png", alt="")
                .qr_code
                    img(src="/assets/images/qr_code.png", alt="")