doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/assets/css/main.css")
        title Wishlist
    body 
        include ./header.pug
        main.container
            h1 Избранное
            hr
            .wishlist_cart 
                .img 
                    img(src="/assets/images/headphone.png", alt="")
                .sale 
                    p - 6%
                .info 
                    ul 
                        li Sony WH-1000XM3 беспроводные наушники
                        li 
                           img(src="/assets/images/icons/star 1.svg", alt="star")
                           img(src="/assets/images/icons/star 1.svg", alt="star")
                           img(src="/assets/images/icons/star 1.svg", alt="star")
                           img(src="/assets/images/icons/star 1.svg", alt="star")
                           img(src="/assets/images/icons/star.svg", alt="star")
                        li 
                            p Платформа:
                            span Android 10
                        li 
                            p Кол-во SIM карт:
                            span 2 SIM + SD Card
                        li 
                            p Диагональ экрана:
                            span 6.5”
                        li 
                            p Камера:
                            span 48МП+8МП+5МП+5МП
                        li 
                            p Аккумулятор
                            span 4 000 mAh
                        li 
                            p Тип матрицы:
                            span SUPER AMOLED
                        li 
                            p Габариты:
                            span ШхВхТ 142х79.0х13.5 мм, вес 140 г
                    .bottom_menu 
                        ol 
                            li 
                                img(src="/assets/images/icons/heart.svg", alt="heart")
                                p Убрать из избранного
                            li.yellow 
                                img(src="/assets/images/icons/signal.svg", alt="signal")
                                p Сравнить
                            li.yellow
                                img(src="/assets/images/icons/arrows.svg", alt="")
                                p Поделиться
                .add_to_basket
                    span.outer 
                        span.inner 2 720 000
                    .amount 
                        p 3 020 000
                        span сум
                    h2 Сезонная скидка
                    .checkbox
                        .box
                        .border 
                            .color
                    button(class='btn_wishlist') Добавить в корзину
            hr
            .wishlist_cart 
                .img2 
                    img(src="/assets/images/iphone.png", alt="")
                .sale 
                    p - 6%
                .info 
                    ul 
                        li Apple iPhone 11 8/128 GB, черный
                        li 
                           img(src="/assets/images/icons/star 1.svg", alt="star")
                           img(src="/assets/images/icons/star 1.svg", alt="star")
                           img(src="/assets/images/icons/star 1.svg", alt="star")
                           img(src="/assets/images/icons/star 1.svg", alt="star")
                           img(src="/assets/images/icons/star.svg", alt="star")
                        li 
                            p Платформа:
                            span iOS 13
                        li 
                            p Кол-во SIM карт:
                            span 2 SIM + SD Card
                        li 
                            p Диагональ экрана:
                            span 6.5”
                        li 
                            p Камера:
                            span 48МП+8МП+5МП+5МП
                        li 
                            p Аккумулятор
                            span 4 000 mAh
                        li 
                            p Тип матрицы:
                            span SUPER AMOLED
                        li 
                            p Габариты:
                            span ШхВхТ 142х79.0х13.5 мм, вес 140 г
                    .bottom_menu 
                        ol 
                            li 
                                img(src="/assets/images/icons/heart.svg", alt="heart")
                                p Убрать из избранного
                            li.yellow 
                                img(src="/assets/images/icons/signal.svg", alt="signal")
                                p Сравнить
                            li.yellow
                                img(src="/assets/images/icons/arrows.svg", alt="")
                                p Поделиться
                .add_to_basket
                    span.outer 
                        span.inner 2 720 000
                    .amount 
                        p 8 249 000
                        span сум
                    h2 Сезонная скидка
                    .capacity 
                        p 6/128GB
                        p 8/256GB
                    .checkbox
                        .red_box
                        .box
                        .border 
                            .color
                    button(class='btn_wishlist') Добавить в корзину
            hr
            .recommended
                h3 Рекомендуем к покупке
                .title 
                    h4 Товары из категории 
                        span Электроника
                    span Посмотреть все
            .product_info_list
                .products_info 
                    .favourite
                        img(src="/assets/images/icons/favorite.svg", alt="")
                    .img_details 
                        img(src="/assets/images/phone.png", alt="phone")
                    .sum  
                        p 8 460 000
                            span сум
                    p  Huawei P40 Pro Plus 8/240GB, White
                    .stars
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star.svg", alt="star")
                .products_info 
                    .favourite
                        img(src="/assets/images/icons/favorite_yellow.svg", alt="")
                    .img_details 
                        img(src="/assets/images/headphone-mini.png", alt="phone")
                    .sum  
                        p 2 720 000
                            span сум
                    p.sale_text  Sony WH-1000XM3 беспроводные наушники
                    .stars
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star.svg", alt="star")
                .products_info
                    .favourite
                        img(src="/assets/images/icons/favorite.svg", alt="") 
                    .img_details 
                        img(src="/assets/images/conditioner.png", alt="phone")
                    .sum  
                        p 3 199 200
                            span сум
                    p  Настенная сплит система Chigo HI912XA
                    .stars
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star.svg", alt="star")
                .products_info
                    .favourite
                        img(src="/assets/images/icons/favorite.svg", alt="") 
                    .img_details 
                        img(src="/assets/images/areston.png", alt="phone")
                    .sum  
                        p 12 118 000
                            span сум
                    p  Bosch B29S накопительный водонагреватель
                    .stars
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star.svg", alt="star")
                .products_info
                    .favourite
                        img(src="/assets/images/icons/favorite.svg", alt="") 
                    .img_details 
                        img(src="/assets/images/tv.png", alt="phone")
                    .sum  
                        p 3 489 000
                            span сум
                    p  Xiaomi MI TV 32” HD Smart TV
                    .stars
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star.svg", alt="star")
                .products_info 
                    .favourite
                        img(src="/assets/images/icons/favorite.svg", alt="")
                    .img_details 
                        img(src="/assets/images/airpods.png", alt="phone")
                    .sum  
                        p 1 455 000
                            span сум
                    p  Apple Airpods 2 wireless charge
                    .stars
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star 1.svg", alt="star")
                        img(src="/assets/images/icons/star.svg", alt="star")
            .mobile_apps 
                .text
                    h5 Еще удобнее, в мобильном приложении
                    .app_store 
                        img(src="/assets/images/appstore.png", alt="appstore")
                        img(src="/assets/images/google_play.png", alt="googleplay")
                .img_phones 
                    img(src="/assets/images/phones.png", alt="")
                .qr_code
                    img(src="/assets/images/qr_code.png", alt="")